[Desktop Entry]
Type=Application
Version=5.1.0+43
Name=Spotube
GenericName=Music Streaming Application
Icon=/home/ivan/Projects/Dot-files/dot-files/Icons/3d-blue-headphones-isolated-transparent-background_191095-16413.png
Exec=spotube %U
Categories=Music;
Keywords=Music;Media;Streaming;YouTube;
