[Desktop Entry]
Name=DB Browser for SQLite
Comment=DB Browser for SQLite is a light GUI editor for SQLite databases
Comment[de]=DB Browser for SQLite ist ein GUI-Editor für SQLite-Datenbanken
Comment[fr]=Un éditeur graphique léger pour les bases de données SQLite
Comment[es]=«DB Browser for SQLite» es un editor gráfico de bases de datos SQLite
Exec=sqlitebrowser %f
Icon=/home/ivan/Projects/Dot-files/dot-files/Icons/3d-fluency-database-c3bde95a-2c9f-4579-8249-35eea10e6d85.png.output.png
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Development;Utility;Database;
MimeType=application/vnd.db4s-project+xml;application/sqlitebrowser;application/x-sqlitebrowser;application/vnd.sqlite3;application/geopackage+sqlite3;application/x-sqlite2;application/x-sqlite3;
