[Desktop Entry]
Name=Ghostty
Type=Application
Comment=A terminal emulator
Exec=ghostty
Icon=/home/ivan/Projects/Dot-files/dot-files/Icons/com.mitchellh.ghostty-1.png
Categories=System;TerminalEmulator;
Keywords=terminal;tty;pty;
StartupNotify=true
Terminal=false
Actions=new-window;
X-GNOME-UsesNotifications=true

[Desktop Action new-window]
Name=New Window
Exec=ghostty
