#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=yEd Graph Editor
Exec="/home/ivan/Programs/yEd/yEd" %U
Icon=/home/ivan/Programs/yEd/.install4j/yEd.png
Categories=Application;
StartupWMClass=install4j-com-yworks-A-yEd
